@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

ul, ol {
    list-style: none;
    padding-left: 5px;
}

li {
    margin: 15px 0;
}

a {
    color: rgb(24, 24, 197);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: #0f0f28;
    font-weight: 800;
}

p {
    color: #262040;
    line-height: 1.5;
    font-size: 1.1rem;
    width: 100%;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
}

header {
    background-color: #0f0f28;
    padding: 15px;
    border-bottom: solid 1px #cdcdcd;
}

sidebar {
    border-right: solid 1px #ccc;
}

figure {
    text-align: center;
}

footer {
    min-height: 100px;
    background-color: #0f0f28;
    align-items: center;
    display: flex;
    justify-content: center;
}

hr {
    border: none;
    border-top: solid 1px #a6a6a6;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 40px 0px;
}

td {
    border-bottom: solid 1px #8e8e8e;
    padding: 10px;
}

.bar {
    background-color: #f9f9fb;
    padding: 15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}

.content {
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0, 8rem) minmax(0, 2.5fr) minmax(0, 8rem);
}

main {
   width: 100%;
    grid-area: main;
    border: 1px solid #ccc;
    margin: 0;
}
.section-data {
    padding: 10px;
    padding-left: 5rem;
    padding-right: 5rem;
}

.main-title {
    grid-area: main;
    color: #d4d4d4;
    background-color: #000;
}

.main-title h1 {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

.main-title p {
    color: #d4d4d4;
    font-size: 1rem;
    text-align: center;
}   


.anchors {
    border-left: solid 1px #ccc;
    padding-left: 15px;
}
